/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Permite o footer ficar grudado no fundo */
html, body {
    height: 100%;
}

/* ===== Fundo ===== */
body {
    background-color: #f3f3f3;

    display: flex;
    flex-direction: column;
}

/* ===== Header estilo Amazon ===== */
header {
    width: 100%;
    background-color: #131921;
    padding: 18px 0;
    text-align: center;  
    font-weight: 500;
    color: white;
}

/* ===== Conteúdo central ===== */
.container {
    flex: 1; /* empurra o footer para baixo */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.box {
    background: white;
    padding: 30px 40px;
    width: 420px;
    max-width: 90%; /* evita estourar em telas pequenas */
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.box h2 {
    color: #111;
    margin-bottom: 10px;
}

.box p {
    color: #333;
    margin-bottom: 25px;
}

/* ===== Botão estilo Amazon ===== */
.btn {
    background: #f0c14b;
    border: 1px solid #a88734;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    color: #111;
    display: block;
}

.btn:hover {
    background: #eeb933;
}

/* ===== Footer ===== */
footer {
    width: 100%;
    background-color: #131a22;
    color: #ddd;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}
