/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family: Arial, sans-serif;
    padding-top: 80px; /* empurra o conteúdo pra baixo do header fixo */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/* ===== Box estilo Amazon ===== */
form {
    background: white;
    width: 360px;
    padding: 20px 26px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px; /* afastar do header */
    text-align:center;
}


label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #111;
}

input {
    width: 100%;
    padding: 9px;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border-color: #e77600; /* laranja Amazon */
    box-shadow: 0 0 4px rgba(228,121,17,0.4);
    outline: none;
}

/* ===== Botão Amazon ===== */
button {
    width: 100%;
    background: #f0c14b;
    border-radius: 4px;
    border: 1px solid #a88734;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #eeb933;
}

/* ===== Link ===== */
a {
    color: #0066c0;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
header {
  
    width: 100%;
    background-color: #131921;
    padding: 15px 0;
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}
a{
    text-decoration: none;
    color: #0066c0;
    text-decoration: underline;

}
footer{
    width: 100%;
    background-color: #131a22; /* cor do footer da Amazon */
    color: #ddd;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 14px;
}







